/* component */
/* div */
.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.column-s {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.row-s {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

/* button */
.btn {
    font-size: 18px;
    font-weight: 500;
    padding: 16px 32px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

/* span text */
.brow {
    font-size: 20px;
    font-weight: 700;
}

.desc {
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}