/* header */
header {
    padding: 0 var(--margin-default);
    background: var(--color-black);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--width-medium);
    height: 4rem;
    margin: 0 auto;
}

nav .fleetune-logo {
    width: 6rem;
}

nav .fleetune-logo img {
    width: 100%;
}

nav .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .menu li {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
}

/* footer */
footer {
    padding: var(--margin-row) var(--margin-default);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: var(--width-large);
    margin: 0 auto;
}

.footer .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem 2rem;
}

.footer span {
    font-size: 16px;
}

/* main */
section {
    padding: var(--margin-row) var(--margin-default)
}

/* main */
.container {
    display: flex;
    align-items: center;
}

#hero {
    min-height: 640px;
    margin-bottom: var(--margin-row);
    background-image: url(../source/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    z-index: 1;
    width: 100%;
    max-width: var(--width-medium);
    margin: 0 auto;
}

.dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.hero {
    max-width: 720px;
}

.hero h3 {
    color: var(--color-white);
    margin-bottom: 48px;
}

/* main sub */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content-img {
    width: 100%;
    max-width: 720px;
    height: 480px;
    background-position: center;
    background-size: cover;
    background: black;
}

#content-01 {
    background-image: url("../source/cover.jpg");
}

#content-02 {
    background-image: url("../source/cover.jpg");
}

/* media */
@media screen and (max-width: 1440px) {

    /* main sub */
    .content-img {
        height: 440px;
    }
}

@media screen and (max-width: 1024px) {

    /* main sub */
    .content-img {
        height: 360px;
    }
}

@media screen and (max-width: 768px) {

    /* main sub */
    .grid {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 544px) {}