/* font size */
html {
    font-size: 20px;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 16px;
}

/* media */
@media screen and (max-width: 1024px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}