:root {
    /* color */
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    /* margin */
    --margin-default: 2rem;
    --margin-row: 4rem;
    /* width */
    --width-small: 768px;
    --width-medium: 1440px;
    --width-large: 1920px;
}

/* media */
@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {
    :root {
        --margin-default: 1.5rem;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 544px) {
    :root {
        --margin-default: 1rem;
    }
}