// row
.row {
	&-xxs {
		display: flex;
		align-items: center;
		gap: var(--spacer-xxs);
	}

	&-xs {
		display: flex;
		align-items: center;
		gap: var(--spacer-xs);
	}

	&-s {
		display: flex;
		align-items: center;
		gap: var(--spacer-s);
	}

	&-m {
		display: flex;
		align-items: center;
		gap: var(--spacer-m);
	}
}

// column
.column {
	&-xxs {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--spacer-xxs);
	}

	&-xs {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--spacer-xs);
	}

	&-s {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--spacer-s);
	}

	&-m {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--spacer-m);
	}
}

// image
div {
	img {
		border-radius: var(--corner-s);
	}
}

// button
button {
	&.primary {
		font-size: 1rem;
		font-weight: 600;
		padding: 1rem 2rem;
		color: var(--color-white);
		border-radius: 2rem;
		background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .6) 100%);

		svg {
			width: 1rem;
			height: 1rem;
			margin-right: var(--spacer-xs);
		}
	}
}