// header
header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 0 var(--side);
    background: var(--color-black);

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: var(--width-m);
        height: var(--top);
        margin: 0 auto;

        .logo {
            width: 108px;

            svg {
                width: 100%;
                fill: var(--color-white);
            }

            @media screen and (max-width: 768px) {
                width: 92px;
            }
        }

        a {
            font-size: .75rem;
            font-weight: 600;
            color: var(--color-white);
        }

        .menu {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--spacer-m);
            left: calc(50% - 250px);
            width: 500px;
        }

        .contact {
            padding: 8px 12px;
            border: 1px solid var(--color-fg-subtle);
            border-radius: 8px;
        }
    }
}

// footer
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacer-s);
    max-width: var(--width-m);
    padding: var(--between) var(--side);
    margin: 0 auto;

    .menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--spacer-xs) var(--spacer-m);

        span {
            font-size: 16px;
        }
    }
}

// main
main {
    margin-top: var(--top);

    section {
        &.hero {
            padding: 10rem var(--side);
            margin-bottom: var(--between);
            background-position: center;
            background-size: cover;
            background-image: url("../source/cover.jpg");

            .container {
                display: flex;
                z-index: 1;
                flex-direction: column;
                align-items: center;
                gap: var(--spacer-s);
                max-width: var(--width-xs);
                margin: 0 auto;

                * {
                    text-align: center;
                }

                h2 {
                    font-weight: 800;
                    display: inline-block;

                    span {
                        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .6) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .desc {
                    color: var(--color-fg-muted);
                }

                button {
                    margin-top: var(--spacer-m);
                }
            }

            .gradient {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgb(255, 255, 255);
                background: linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 1) 100%);
            }
        }

        &.content {
            display: flex;
            flex-direction: column;
            gap: var(--spacer-l);
            padding: var(--between) var(--side);

            h3 {
                font-weight: 800;
                display: inline-block;

                span {
                    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .6) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .heading {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--spacer-s);
                max-width: var(--width-m);
                margin: 0 auto;

                &-c {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--spacer-s);
                    max-width: var(--width-xs);
                    margin: 0 auto;

                    * {
                        text-align: center;
                    }

                    .desc {
                        color: var(--color-fg-muted);
                    }
                }
            }

            .badge {
                display: flex;
                align-items: center;
                gap: var(--spacer-xs);

                h6 {
                    color: var(--color-fg-muted);
                }

                &-c {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: var(--spacer-s);

                    h6 {
                        color: var(--color-fg-muted);
                    }
                }
            }

            .icon {
                width: 2.5rem;
                height: 2.5rem;

                svg {
                    width: 100%;
                    height: 100%;
                    color: var(--color-blue);
                }
            }

            .container {
                max-width: var(--width-m);
                margin: 0 auto;

                &.columns {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacer-s);
                    max-width: var(--width-m);
                    margin: 0 auto;

                    .item {
                        overflow: hidden;
                        min-height: 30rem;
                        padding: var(--spacer-l);
                        border-radius: var(--corner-m);
                        background: var(--color-lightgray);

                        &:nth-child(1) {
                            background-position: center;
                            background-size: cover;
                            background-image: url("../source/image/congestion.jpg");
                        }

                        &:nth-child(2) {
                            background-position: center;
                            background-size: cover;
                            background-image: url("../source/image/rural.jpg");
                        }

                        .atom {
                            display: flex;
                            z-index: 1;
                            flex-direction: column;
                            gap: var(--spacer-s);
                            max-width: var(--width-xs);
                            color: var(--color-white);

                            span {
                                font-size: 1.25rem;
                                font-weight: 600;
                                line-height: 1.5em;
                            }
                        }

                        @at-root {
                            .dim {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                background: rgba(0, 0, 0, .4);
                            }
                        }
                    }

                    @media screen and (max-width: 768px) {
                        .item {
                            min-height: 24rem;
                        }
                    }
                }

                &.items-02 {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: var(--spacer-s);
                    max-width: var(--width-m);
                    margin: 0 auto;

                    .item {
                        overflow: hidden;
                        min-height: 30rem;
                        padding: var(--spacer-l);
                        border-radius: var(--corner-m);
                        background: var(--color-lightgray);

                        &:nth-child(1) {
                            background-position: center;
                            background-size: cover;
                            background-image: url("../source/image/congestion.jpg");
                        }

                        &:nth-child(2) {
                            background-position: center;
                            background-size: cover;
                            background-image: url("../source/image/rural.jpg");
                        }

                        .atom {
                            display: flex;
                            flex-direction: column;
                            gap: var(--spacer-s);
                            z-index: 1;
                            max-width: var(--width-xs);
                            color: var(--color-white);

                            span {
                                font-size: 1.25rem;
                                font-weight: 600;
                                line-height: 1.5em;
                            }
                        }
                    }

                    @media screen and (max-width: 768px) {
                        grid-template-columns: 100%;

                        .item {
                            min-height: 24rem;
                            padding: var(--spacer-l);
                        }
                    }
                }

                &.items-03 {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: var(--spacer-s);
                    max-width: var(--width-m);
                    margin: 0 auto;

                    .item {
                        min-height: 30rem;
                        padding: var(--spacer-m);
                        overflow: hidden;
                        border-radius: var(--corner-m);
                        background: var(--color-lightgray);

                        &:nth-child(1) {
                            background-position: center;
                            background-size: cover;
                            background-image: url("../source/image/congestion.jpg");
                        }

                        &:nth-child(2) {
                            background-position: center;
                            background-size: cover;
                            background-image: url("../source/image/rural.jpg");
                        }

                        &:nth-child(3) {
                            background-position: center;
                            background-size: cover;
                            background-image: url("../source/image/repair.jpg");
                        }

                        .atom {
                            display: flex;
                            flex-direction: column;
                            gap: var(--spacer-s);
                            z-index: 1;
                            top: 0;
                            left: 0;
                            max-width: var(--width-xs);
                            height: 100%;
                            color: var(--color-white);

                            span {
                                font-size: 1rem;
                                font-weight: 600;
                                line-height: 1.5em;
                            }

                            svg {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }

                    @media screen and (max-width: 768px) {
                        grid-template-columns: 100%;

                        .item {
                            min-height: 24rem;
                            padding: var(--spacer-l);
                        }
                    }
                }
            }
        }
    }
}

// media
@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 544px) {}