// header
header {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 0 var(--side);

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: var(--width-m);
        height: var(--top);
        margin: 0 auto;

        .logo {
            width: 108px;

            svg {
                width: 100%;
                fill: var(--color-white);
            }

            @media screen and (max-width: 768px) {
                width: 92px;
            }
        }

        a {
            font-size: .75rem;
            font-weight: 600;
            color: var(--color-white);
        }

        .menu {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--spacer-m);
            left: calc(50% - 250px);
            width: 500px;
        }

        .contact {
            padding: 9px 12px 7px;
            border: 1px solid var(--color-bg-muted);
        }
    }
}

// footer
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacer-s);
    max-width: var(--width-m);
    padding: var(--between) var(--side);
    margin: 0 auto;

    .menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--spacer-xs) var(--spacer-m);

        span {
            font-size: 16px;
        }
    }
}

// main
main {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;

        &.hero {
            padding: 16rem var(--side);
            background-position: center;
            background-size: cover;
            background-image: url("../source/cover.jpg");

            .title {
                display: flex;
                z-index: 1;
                flex-direction: column;
                align-items: center;
                gap: var(--spacer-s);
                max-width: var(--width-xs);
                margin: 0 auto;

                * {
                    text-align: center;
                    color: var(--color-white);
                }

                h2 {
                    font-weight: 900;
                    display: inline-block;
                    user-select: none;

                    span {
                        background: linear-gradient(160deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, .4) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                h5 {
                    opacity: .72;
                }

                button {
                    margin-top: var(--spacer-m);
                }
            }

            .gradient {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgb(255, 255, 255);
                background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }

        &.content {
            display: flex;
            flex-direction: column;
            gap: var(--spacer-xl);
            padding: var(--between) var(--side) calc(var(--between) + var(--spacer-m));

            .brow {
                font-weight: 600;
                margin-bottom: var(--spacer-s);
                color: var(--color-neonblue);
            }

            span {
                &.desc {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 28px;
                    color: var(--color-fg-muted);
                }

                @media screen and (max-width: 768px) {
                    font-size: 15px;
                }
            }

            .icon {
                width: 2rem;
                height: 2rem;

                svg {
                    width: 100%;
                    height: 100%;
                    fill: currentColor;
                    opacity: .5;
                }
            }

            .image {
                height: 480px;
                background: var(--color-gray-02);
                background-position: center;
                background-size: cover;
                background-image: url('../source/place.jpg');
            }

            .container {
                display: flex;
                z-index: 1;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--spacer-s);
                max-width: var(--width-m);
                margin: 0 auto;

                &.columns-02 {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    .info {
                        padding-right: 3rem;
                    }
                }

                &.columns-04 {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: var(--spacer-s);
                    max-width: var(--width-m);
                    margin: 0 auto;
                }
            }

            &.c-black {
                background: var(--color-darkgray);
                color: var(--color-white);

                span {
                    &.desc {
                        color: var(--color-bg-muted);
                    }
                }
            }

            &.c-lightg {
                background: var(--color-gray-01);
            }

            #traffic {
                position: absolute;
                top: 0;
                height: 100%;
                opacity: .2;
                background: rgba(0, 0, 0, .8);
                background-position: center;
                background-size: cover;
                background-image: url("../source/image/traffic.jpg");
            }
        }
    }
}

// media
@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 544px) {}