// header
header {
    padding: 0 var(--side);
    background: var(--color-black);

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: var(--width-m);
        height: var(--spacer-xl);
        margin: 0 auto;

        .fleetune-logo {
            svg {
                fill: var(--color-white);
            }
        }

        .menu {
            display: flex;
            align-items: center;
            gap: var(--spacer-m);

            li {
                font-size: 16px;
                font-weight: 600;
                color: var(--color-white);
            }
        }
    }
}

// footer
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacer-s);
    max-width: var(--width-m);
    padding: var(--between) var(--side);
    margin: 0 auto;

    .menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--spacer-xs) var(--spacer-m);

        span {
            font-size: 16px;
        }
    }
}

// main
main {
    section {
        &.hero {
            padding: 10rem var(--side);
            background-position: center;
            background-size: cover;
            background-image: url("../source/cover.jpg");

            .container {
                display: flex;
                z-index: 1;
                flex-direction: column;
                align-items: center;
                gap: var(--spacer-s);
                max-width: var(--width-m);
                margin: 0 auto;

                @at-root {
                    .desc {
                        color: var(--color-fg-subtle);

                        &-c {
                            text-align: center;
                            color: var(--color-fg-subtle);
                        }
                    }
                }

                .desc {
                    &-c {
                        color: var(--color-fg-muted);
                    }
                }
            }

            .gradient {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgb(255, 255, 255);
                background: linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .8) 100%);
            }
        }

        &.content {
            display: flex;
            flex-direction: column;
            gap: var(--spacer-l);
            padding: var(--between) var(--side);

            .heading {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--spacer-s);
                max-width: var(--width-m);
                margin: 0 auto;

                &-c {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--spacer-s);
                    max-width: var(--width-m);
                    margin: 0 auto;

                    * {
                        text-align: center;
                    }
                }
            }

            .badge {
                display: flex;
                align-items: center;
                gap: var(--spacer-s);

                h6 {
                    color: var(--color-fg-muted);                    
                }

                &-c {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: var(--spacer-s);

                    h6 {
                        color: var(--color-fg-muted);                    
                    }
                }
            }

            .icon {
                width: 2.5rem;
                height: 2.5rem;

                svg {
                    width: 100%;
                    height: 100%;
                    color: var(--color-fg-subtle);
                }
            }

            .container {
                max-width: var(--width-m);
                margin: 0 auto;

                &.rows {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: var(--spacer-s);
                    max-width: var(--width-m);
                    margin: 0 auto;

                    .column {
                        &-s {
                            justify-content: center;
                        }
                    }
                }

                &.items-02 {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: var(--spacer-s);
                    max-width: var(--width-m);
                    margin: 0 auto;

                    .item {
                        overflow: hidden;
                        padding: 50%;
                        border-radius: 1rem;
                        background-position: center;
                        background-size: cover;
                        background: var(--color-lightgray);

                        &:nth-child(1) {
                            background: rgb(255, 197, 197);
                        }

                        &:nth-child(2) {
                            background: rgb(207, 197, 255);
                        }

                        .atom {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            gap: var(--spacer-s);
                            z-index: 1;
                            top: 0;
                            left: 0;
                            height: 100%;
                            padding: var(--spacer-l);
                            color: var(--color-white);
                        }
                    }
                }

                &.items-03 {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: var(--spacer-s);
                    max-width: var(--width-m);
                    margin: 0 auto;

                    .item {
                        overflow: hidden;
                        border-radius: 1rem;
                        background-position: center;
                        background-size: cover;
                        background: var(--color-lightgray);

                        &:nth-child(1) {
                            background-image: url("../source/cover.jpg");
                        }

                        &:nth-child(2) {
                            background-image: url("../source/cover.jpg");
                        }

                        &:nth-child(3) {
                            background-image: url("../source/cover.jpg");
                        }

                        .atom {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            gap: var(--spacer-s);
                            z-index: 1;
                            top: 0;
                            left: 0;
                            padding: var(--spacer-m);
                            color: var(--color-white);
                        }

                        .dim {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            background: rgba(0, 0, 0, .4);
                        }
                    }
                }
            }
        }
    }
}

// media
@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 544px) {}