// normalize
header,
nav,
footer,
main {
    position: relative;
    box-sizing: border-box;
    width: 100%;

    section,
    article,
    div {
        position: relative;
        box-sizing: border-box;
        width: 100%;
    }
}

iframe,
svg,
img,
video {
    position: relative;
    box-sizing: border-box;
    display: block;
}

iframe,
img,
video {
    width: 100%;
}

button {
    border: none;
    background: none;
}

//font
html {
    font-family: 'Inter', 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    -webkit-text-size-adjust: 100%;
    word-break: keep-all;
    font-size: 16px;

    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

body {
    color: var(--color-fg);
    background: var(--color-bg);

    &.loading {
        opacity: 0;
    }

    &.loaded {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.35em;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;

    @media screen and (max-width: 768px) {
        font-size: 1.75rem;
    }
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
    line-height: 1.5em;
}

h6 {
    font-size: 1rem;
    line-height: 1.5em;
}

p {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;

    &.large {
        font-size: 1rem;
    }

    @media screen and (max-width: 768px) {
        font-size: 15px;
    }
}

li {
    flex-shrink: 0;
}