//  variables
:root {
    // color
    --color-yellow: rgba(245, 190, 40, 1);
    --color-blue: rgba(0, 140, 255, 1);
    --color-neonblue: rgba(50, 200, 255, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-gray-01: rgba(245, 245, 246, 1);
    --color-gray-02: rgba(220, 220, 221, 1);
    --color-gray-03: rgba(122, 122, 124, 1);
    --color-darkgray: rgba(36, 44, 56, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-overlay: rgba(0, 0, 0, .72);
    --color-fg: rgba(32, 40, 52, 1);
    --color-fg-muted: rgba(32, 40, 52, .72);
    --color-fg-subtle: rgba(32, 40, 52, .36);
    --color-bg: rgba(255, 255, 255, 1);
    --color-bg-muted: rgba(255, 255, 255, .72);
    --color-bg-subtle: rgba(255, 255, 255, .36);
    // spacing
    --top: 4rem;
    --side: 2rem;
    --between: 7rem;
    // margin spacer
    --spacer-xxs: .25rem;
    --spacer-xs: .5rem;
    --spacer-s: 1rem;
    --spacer-r: 1.5rem;
    --spacer-m: 2rem;
    --spacer-l: 3rem;
    --spacer-xl: 4rem;
    --spacer-xxl: 5rem;
    // width
    --width-xs: 544px;
    --width-s: 768px;
    --width-m: 1280px;
    --width-l: 1440px;
    // radius
    --corner-s: .5rem;
    --corner-m: 1rem;

    @media screen and (max-width:719px) {
        --side: 1.5rem;
        --between: 4rem;
    }
}