//  variables
:root {
    // color
    --color-white: rgba(255, 255, 255, 1);
    --color-lightgray: rgba(242, 242, 242, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-overlay: rgba(0, 0, 0, .6);
    --color-fg: rgba(24, 28, 32, 1);
    --color-fg-muted: rgba(124, 132, 140, 1);
    --color-fg-subtle: rgba(168, 176, 184, 1);
    // spacing
    --top: 4rem;
    --side: 2rem;
    --between: 5rem;
    // margin spacer
    --spacer-xxs: .25rem;
    --spacer-xs: .5rem;
    --spacer-s: 1rem;
    --spacer-r: 1.5rem;
    --spacer-m: 2rem;
    --spacer-l: 3rem;
    --spacer-xl: 4rem;
    --spacer-xxl: 5rem;
    // width
    --width-s: 768px;
    --width-m: 1280px;
    --width-l: 1440px;
    // radius
    --corner-s: .5rem;
    --corner-m: 1rem;

    @media screen and (max-width: 1024px) {
        --side: 1.5rem;
    }

    @media screen and (max-width: 544px) {
        --side: 1rem;
    }
}